body {
    background: #f8f8f8;
    color: black;
}

header nav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
}

header img {
    margin-left: 20px;
    height: 40px;
}

header nav ul {
    display: inline-block;
    margin: 0;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.3em;
    border: 1px solid #CB1242;
    box-shadow: 4px 4px 8px -3px #A5A5A5;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    height:1px;
    border: 0;
    background-color: #CB1242;

}

h1, h2, h3 {
    font-weight: 400;
    font-variant: small-caps;
}

h1 {
    font-size: 2em;
    line-height: 40px;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

.products h3 {
    font-size: 18px;
    background-color: #eaeaea;
}

#shortdesc {
    color:  #707070;
    font-size: 18px;
    font-style: italic;
    line-height: 16px;
}

#longdesc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.products .content ul {
    list-style:none;
    color:  #484343;
    font-size: 18px;
    line-height: 28px;
}

.products .content li:before {
    content: "🕮";
    margin-right: 1em;
    color: #CB1242;
}

.products .content img {
    border: 1px solid #CB1242;
    box-shadow: 4px 4px 8px -3px #A5A5A5;
}

.contact fieldset {
    width: 480px;
    padding: 10px;
    line-height: 40px;
    border: 1px solid #CB1242;
    box-shadow: 4px 4px 8px -3px #A5A5A5;
}

.contact fieldset label {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
}

.contact fieldset input,select,textarea {
    background-color: #fcfcfc;
    float: right;
    width: 350px;
    height: 30px;
    border: 1px solid #484343;
    box-shadow: 4px 4px 8px -3px #A5A5A5 inset;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 15px;
    font-weight: 400;
}

.contact fieldset select {
    height: 38px;
    width: 362px;
}

.contact fieldset textarea {
    width: 480px;
    height: 120px;
    resize: none;
}

.contact button {
    background-color: #f8f8f8;
    float: right;
    height: 30px;
    width: 100px;
    margin-top: 4px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #CB1242;
    box-shadow: 4px 4px 8px -3px #A5A5A5;
}