
body {
    background-color: #f8f8f8;
    margin: 0 auto;
}

header {
    background-color: #abeafa;
    height: 700px;
}

.headerInside {
    position: relative;
    width: 1170px;
    height: inherit;
    margin: 0 auto;
}

.logo {
    position: absolute;
    display: block;
    width: 125px;
    height: 111px;
    margin-left: 69px;
    margin-top: 24px;
}

.content {

}

.contentInside {
    width: 1170px;
    height: inherit;
    margin: 0 auto;
}
